<head>
    <title>404!!!!</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>  
  <body>   
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
      </div>  
      <div class="navbar-center flex">
        <ul class="menu menu-horizontal px-1">
          <li><a class="active" href="/about">about</a></li>
          <li>
            <details>
              <summary>theme</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li><a href="http://localhost:8080/lego/sets?theme=Technic">Technic</a></li>
                <li><a href="http://localhost:8080/lego/sets?theme=Supplemental">Supplemental</a></li>
                <li><a href="http://localhost:8080/lego/sets?theme=Spyrius">Spyrius</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>
    <div class="container ">   
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">404 NOT FOUND</h1>
    
                <p class="py-6">Link you are trying to excess doesnot exist.</p>
            </div>        
  
      <br>
    </div>
  </body>
  
  