<head>
    <title>About me</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  
  <body>
    
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
      </div>
    
      <div class="navbar-center flex">
        <ul class="menu menu-horizontal px-1">
          <li><a class="active" href="/about">about</a></li>
          <li>
            <details>
              <summary>theme</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li><a href="http://localhost:8080/lego/sets?theme=Technic">Technic</a></li>
                <li><a href="http://localhost:8080/lego/sets?theme=Supplemental">Supplemental</a></li>
                <li><a href="http://localhost:8080/lego/sets?theme=Spyrius">Spyrius</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="container ">
      <div class="hero bg-base-200 p-6">
        <div class="hero-content text-center ">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome to my about section</h1>
  
            <p class="py-6">You want to know about me, below is detail about me.</p>
          </div>
        </div>
      </div>
  
      <br>
  
      <div class="grid grid-cols-1 md:grid-cols-2  gap-4 lg:gap-10 ">
        <div>
  
          <div class="card bg-base-100 shadow-xl">
            <figure>
              <img class="w-full" src="https://tse2.mm.bing.net/th?id=OIP.BAVWa632jXorHx-GGdKmEwHaEK&pid=Api&P=0&h=180"
              alt="F1">
            </figure>
            <div class="card-body" style="display: flex; align-items: center;">
              <h2 class="card-title" style="width: 30%; " >F1</h2>
              
            </div>
  
          </div>
        </div>
        <div>
  
          <div class="card bg-base-100 shadow-xl">
           
            <div class="card-body">
              <h2 class="card-title">My Details</h2>
              <p>I am Mitul Desai, currently in the third semester of my enrollment in computer programming. I like to play cricket very much. Also, i love to watch formula 1 racing, my favorite racer is louis hamilton.</p>
              
            </div>
  
          </div>
        </div>
        
      </div>
  
  
  </div>
    
      <!--  -->
  </body>
  
  