<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
        </div>

        <div class="navbar-center flex">
          <ul class="menu menu-horizontal px-1">
            <li><a href="/about">About</a></li>
            <li>
              <details>
                <summary>Theme</summary>
                <ul class="p-2  bg-base-100 right-0">
                    <li><a href="http://localhost:8080/lego/sets?theme=Technic">Technic</a></li>
                    <li><a href="http://localhost:8080/lego/sets?theme=Supplemental">Supplemental</a></li>
                    <li><a href="http://localhost:8080/lego/sets?theme=Spyrius">Spyrius</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="hero bg-base-200 p-6">
          <div class="hero-content text-center ">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold">Welcome</h1>
              <p class="py-6">Whether it is sunday or monday play lego everyday.</p>
              <a href="http://localhost:8080/lego/sets" class="bg-blue-100 text-gray-600 py-2 px-4 rounded-full hover:bg-blue-200 hover:text-gray-700 focus:outline-none focus:ring focus:border-transparent">Get Started Now</a>
            </div>
          </div>
        </div>
        <br>
    
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <div>
            <div class="card w-96 bg-base-100 shadow-xl">
              <figure>
                <img src="https://cdn.rebrickable.com/media/sets/005-2.jpg" style="height: 250px; width: 400px;" alt="Discovery Set" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Discovery Set</h2>
                <p>Released in 1967, this set contains 0 parts.</p>
                <div class="card-actions justify-end">
                  <a href="/lego/sets/005-2" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
          <div>
    
            <div class="card w-96 bg-base-100 shadow-xl">
              <figure>
                <img src="https://cdn.rebrickable.com/media/sets/003-1.jpg" style="height: 250px; width: 400px;" alt="Master Mechanic Set" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Master Mechanic Set</h2>
                <p>Released in 1966, this set includes 403 parts.</p>
                <div class="card-actions justify-end">
                  <a href="/lego/sets/003-1" class="btn btn-primary">View</a>
                </div>
              </div>
    
            </div>
          </div>
          <div>
    
            <div class="card w-96 bg-base-100 shadow-xl">
              <figure>
                <img src="https://cdn.rebrickable.com/media/sets/001-1.jpg" style="height: 250px; width: 400px;" alt="Gears" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Gears</h2>
                <p>A classic set from 1965, consisting of 43 parts.</p>
                <div class="card-actions justify-end">
                  <a href="/lego/sets/001-1" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div> 
    </div>
</body>
</html>



